<form action="/upload" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <input type="file" class="form-control-file" name="uploaded_file">
      <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
      <input type="submit" value="Get me the stats!" class="btn btn-default">            
    </div>
  </form>
  <br>
  <img style=" height: 500px;"  src="https://heritagehubimages.s3.us-east-2.amazonaws.com/uploads/10efcc11-dbf0-4252-a36e-ec9f9af5df52" alt="abc">